.texts {
  display: flex;
  gap: 100px;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.headline {
  font-size: 40px;
  color: #fff;
}
