.headline {
  font-size: 70px;
  text-align: center;
  margin-bottom: 50px;
  color: var(--secondary-color);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
}

.imgContainer {
  height: 500px;
  width: auto;
}

.img {
  width: 100%;
  height: auto;
  object-fit: contain;
  animation: move 3s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.1);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input,
.textarea {
  padding: 20px;
  font-family: "Alata", sans-serif;
  border: 2px solid #fff;
  border-radius: 5px;
  outline: none;
  transition: all ease-in-out 0.1s;
  background-color: var(--secondary-color);
}

.input:focus,
.textarea:focus {
  border: 2px solid var(--main-color);
}

.invisible {
  color: var(--main-color);
}

.btn {
  padding: 20px;
  border: none;
  background-color: var(--action-color);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  width: max-content;
  transition: all ease 0.3s;
}

.btn:hover {
  scale: 1.1;
  filter: brightness(1.5);
}

.btn:active {
  scale: 0.8;
}
