.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.textTop {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.imgContainer img {
  object-fit: cover;
  border-radius: 20px;
}

.headline {
  color: var(--secondary-color);
}

.avatar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  gap: 20px;
  align-items: center;
}

.avatarImg img {
  border: none;
  border-radius: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
