.container {
  width: max-content;
  height: 25px;
  border: 2px solid var(--main-color);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 2px;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.icon {
  font-size: 17px;
}

.ball {
  width: 18px;
  height: 18px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
}
